<html>
<head>
  <title>KTM.JS | Kathmandu Javscript User Group</title>
  <meta name="description" content="KTM JS is a community of JavaScript developers in Kathmandu. To subscribe to our events, join
  the meetup group on meetup.com/KathmanduJS">

  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes"/>

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="KTM.JS | Kathmandu Javscript User Group">
  <meta itemprop="description" content="KTM JS is a community of JavaScript developers in Kathmandu. To subscribe to our events, join
  the meetup group on meetup.com/KathmanduJS">
  <meta itemprop="image" content="{{URL}}/assets/site/images/logo.png">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://developers-nepal.github.io/ktmjs">
  <meta name="twitter:title" content="KTM.JS | Kathmandu Javscript User Group">
  <meta name="twitter:description" content="KTM JS is a community of JavaScript developers in Kathmandu. To subscribe to our events, join
  the meetup group on meetup.com/KathmanduJS">
  <meta name="twitter:image" content="{{URL}}/assets/site/images/logo_120X120.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="KTM JS user group. Meetups, People and Community."/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://developers-nepal.github.io/ktmjs" />
  <meta property="og:image" content="{{URL}}/assets/site/images/logo.png" />
  <meta property="og:description" content="KTM JS is a community of JavaScript developers in Kathmandu.We aim to share
  knowledge and expertise in. Javascript and related technologies through regular meetups, workshops and discussions."/>
  <meta property="og:site_name" content="Kathmandu JS" />
  <meta property="fb:admins" content="443642025803350" />

  <link rel="shortcut icon" href="{{URL}}/assets/site/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{URL}}/assets/site/favicon/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
    <div class="Panel__Navigation">
      <img class="logo" src="{{URL}}/assets/site/images/logo.png" alt="Kathmandu JS User Group Logo" />
    </div>

    <div class="Panel__Meetup">
      <div class="Meetup">
        <h1 class="Meetup__Name">Kathmandu Javascript Meetup</h1>
        <p class="Meetup__Episode">/Episode {{episode}}, {{year}}</p>

        <date class="Meetup__Date">{{month}} {{day}}</date>
        <date class="Meetup__Time">
        {{startsAtHr}}<span class="Meetup__Time--thin">:{{startsAtMin}}{{startsAtAMPM}}</span>
         - {{endsAtHr}}<span class="Meetup__Time--thin">:{{endsAtMin}}{{endsAtAMPM}}</span>
        </date>

        <h2 class="Meetup__Venue">{{venue.organisation}}</h2>
        <p class="Meetup__Address">{{venue.addr_line1}}<br/>{{venue.addr_line2}}</p>

        <img class="Meetup__Ornament" src="{{URL}}/assets/site/images/flower.png" alt="flower"/>
      </div>
    </div>

      <div class="Panel__Schedule">
        <ol class="Sessions">
          {{#each session}}
          <li class="Session">
            <h3 class="Session__Number">session #{{index}}</h3>
            <hr class="Session__Splitter"/>

            <h2 class="Session__Title">{{title}}</h2>
            <p class="Session__Time">@ {{time}}</p>

            <p class="Session__description">
              {{description}}
            </p>

            <ol class="Speakers Session__Speaker">
              {{#each speakers}}
              <li class="Speaker">
                <img class="Speaker__ProfilePicture" src="{{../../URL}}/{{file.path}}" alt="profile picture"/>
                <h2 class="Speaker__Name">{{info.name}}</h2>
                <p class="Speaker__DesignationAndWorkplace">{{info.designation}} at {{info.organization}}</p>
              </li>
              {{~/each}}
            </ol>
          </li>
          {{~/each}}
        </ol>

        <div class="Panel__SponsorsAndSupporters">
          <h2 class="SponsorsAndSupporters__Heading">Sponsors</h2>
          <ol class="Sponsors">
            {{#each sponsors}}
            <li class="Sponsor"><img class="Sponsor__Logo" src="{{../URL}}/{{file.path}}" alt="company 1" /></li>
            {{~/each}}
          </ol>
          <hr class="SponsorsAndSupporters__Splitter"/>
          <h2 class="SponsorsAndSupporters__Heading">Supporters</h2>
          <ol class="Supporters">
            {{#each supporters}}
            <li class="Supporter"><img class="Supporter__Logo" src="{{../URL}}/{{file.path}}" alt="company 2" /></li>
            {{~/each}}
          </ol>
        </div>

        <img class="chandra" src="{{URL}}/assets/site/images/chandra.png" alt="chandra logo" />
        <p class="credits">crafted by, <a href="http://www.27ae60.com/" target="_blank">27AE60</a></p>
      </div>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66204216-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
